# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# for unrelated auxilliary scripts
dump.ipynb
translations/
__pycache__
*.py[cod]

.env

# Ignore condatenated code dump file and scripts
all_code_dump.txt
large_relevant_files.txt
find_large_files.sh
concat_files.sh
concat_select_files.sh
concatenated_code.txt

# Exclude Dev Container Related Files
.devcontainer/
.devcontainer-internal.json
.github/dependabot.yml
.dockerignore

